.Input {
  width: 100%;
  margin: 5px 0 15px;
  input {
    height: 32px;
    outline: none;
    border: 1.4px solid grey;
    border-radius: 4px;
    padding: 4px 6px;
    margin-top: 10px;
    font-weight: bold;
    display: block;
    width: 100%;
  }

  label {
    font-weight: bold;
    font-size: 18px;
  }
}

.error {
  color: rgba(231, 61, 61, 0.95);
}