.Input {
  width: 100%;
  margin: 5px 0 30px;

  input, textarea {
    outline: none;
    border: 1.4px solid grey;
    border-radius: 4px;
    margin-top: 5px;
    padding: 4px 6px;
    font-weight: bold;
    display: block;
    width: 100%;
  }

  input {
    height: 32px;
  }

  label {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
  }
}

.error {
  color: rgba(231, 61, 61, 0.95);
  margin: 3px 0 7px;
}